@model MVC_Start.Models.GuestContact

@{
    ViewData["Title"] = "Guest Contact";
    //Layout = null;
}

<h1>Title: @ViewData["title"]</h1>

<p>Name: @Model.Name</p>
<p>Email: @Model.Email</p>
<p>Phone Number: @Model.Phone</p>

<form asp-controller="GuestContact" asp-action="GuestContact" method="post">
    <p>Name: <input asp-for="Name" /></p>
    <p>Email: <input asp-for="Email"  /></p>
    <p>Phone Number: <input asp-for="Phone" /></p>
    <button type="submit">Submit</button>
</form>

<a asp-controller="Home" asp-action="Index" asp-route-id="12">Home Page</a>